
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
     <title>{:C('ADMIN_TITLE')}</title>
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"
    />
    <link href="__PUBLIC__/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/responsive.css" rel="stylesheet" type="text/css"
    />
    <link href="__PUBLIC__/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/assets/css/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/assets/css/ui-dialog.css">
    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/assets/css/fontawesome/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if IE 8]>
      <link href="__PUBLIC__/assets/css/ie8.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/assets/js/libs/jquery-1.10.2.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/libs/lodash.compat.min.js">
    </script>
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/assets/js/libs/html5shiv.js">
      </script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/plugins/uniform/jquery.uniform.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/plugins/validation/jquery.validate.min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/plugins/nprogress/nprogress.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/plugins/dialog-plus-min.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/login.js">
    </script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/common.js">
    </script>
  </head>

  <body class="login">
    <div class="logo">
      <img src="__PUBLIC__/assets/img/logo.png" alt="logo" />
      <strong>
        {:C('ADMIN_TITLE')}
      </strong></div>
    <div class="box">
      <div class="content">
        <form class="form-vertical login-form" action="{:U('Login/checkLogin')}" method="post" onSubmit="return AjaxForm(this)">
          <h3 class="form-title">
            登录
          </h3>
          <div class="alert fade in alert-danger" style="display: none;">
            <i class="icon-remove close" data-dismiss="alert">
            </i>
           输入任何用户名密码进入.
          </div>
          <div class="form-group">
            <div class="input-icon">
              <i class="icon-user">
              </i>
              <input type="text" name="username" class="form-control" placeholder="用户名"
              autofocus="autofocus" data-rule-required="true" data-msg-required="请输入用户名."
              />
            </div>
          </div>
          <div class="form-group">
            <div class="input-icon">
              <i class="icon-lock">
              </i>
              <input type="password" name="password" class="form-control" placeholder="密码"
              data-rule-required="true" data-msg-required="请输入密码."
              />
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="submit btn btn-primary pull-right">
              登录
              <i class="icon-angle-right">
              </i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>

</html>