div.middle{
    background:#f1f1f1;
    padding-top:20px;
    padding-bottom: 20px;
}
div.list{
    width:1002px;
    margin:0 auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #fff;
    border:1px solid #ccc;
}
div.list ul{
    margin-top: 20px;
}
div.list ul li{
    float: left;
    width:294px;
    margin-right: 25px;
    margin-bottom: 20px;
}
div.list ul li div.list_item div.item_thumb{
    border:1px solid #ccc;
    text-align: center;
}
div.list ul li div.list_item div.item_content div.item_title{
    margin-top: 7px;
}
div.list ul li div.list_item div.item_content div.item_title a{
    font-size: 16px;
    color:#333;
    font-family: "微软雅黑";
}
div.list ul li div.list_item div.item_content div.item_time{
    font-size: 14px;
    color:#999;
    font-family: "微软雅黑";
    margin-top: 7px;
}
div.list ul li div.list_item div.item_content div.item_desc{
    font-size: 14px;
    color:#999;
    font-family: "微软雅黑";
}
div.list ul li div.list_item div.item_content div.item_desc a.read{
    float: right;
    color:#2cc8ff;
}

div.list div.list_content{margin-top: 20px;margin-left: 20px;margin-right: 20px;margin-bottom: 30px;}
div.list div.list_content div.title{
    font-size: 22px;
    font-family: "微软雅黑";
    color:#333;
    margin-bottom: 10px;
}
div.list div.list_content div.time{
    font-size: 14px;
    font-family: "微软雅黑";
    color:#999;
    margin-bottom: 30px;
}