<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>{:C('ADMIN_TITLE')}</title>
  <include file="Public/style" />
</head>
<body>
  <include file="Public/header" />
  <div id="container">
    <include file="Public/menu" />
    <div id="content">
      <div class="container">
        <div class="crumbs">
          <ul id="breadcrumbs" class="breadcrumb">
            <li>
              <i class="icon-home">
              </i>
              <a href="index.html">
                后台首页
              </a>
            </li>
          </ul>
        </div>
        <div class="page-header">
          <div class="page-title">
            <h3>
              基本设置
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="widget box">
              <div class="widget-header">
                <h4>
                  <i class="icon-reorder">
                  </i>
                </h4>
              </div>
              <div class="widget-content">
                  <form class="form-horizontal row-border" action="{:U('insert')}" onSubmit="return AjaxForm(this)" method="post">
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    网站标题:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="site_title" class="form-control" placeholder="网站标题" value="{:C('site_title')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    公司名称:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="site_company" class="form-control" placeholder="公司名称" value="{:C('site_company')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    公司电话:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="site_phone" class="form-control" placeholder="公司电话" value="{:C('site_phone')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    公司地址:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="site_address" class="form-control" placeholder="公司地址" value="{:C('site_address')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    微信号:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="site_wechat" class="form-control" placeholder="微信号" value="{:C('site_wechat')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    微信TOKEN:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="WX_TOKEN" class="form-control" placeholder="微信TOKEN" value="{:C('WX_TOKEN')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    ENCODINGAESKEY:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="ENCODINGAESKEY" class="form-control" placeholder="ENCODINGAESKEY" value="{:C('ENCODINGAESKEY')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    APPID:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="APPID" class="form-control" placeholder="APPID" value="{:C('APPID')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">
                    APPSECRET:
                    </label>
                    <div class="col-md-10">
                      <input type="text" name="APPSECRET" class="form-control" placeholder="APPSECRET" value="{:C('APPSECRET')}">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-10">
                      <button class="btn btn-success" type="submit">
                        提交
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <include file="Public/script" />
</body>
</html>