<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>{:C('ADMIN_TITLE')}</title>
    <include file="Public/style" />
  </head>
  <body>
    <include file="Public/header" />
    <div id="container">
  <include file="Public/menu" />
      <div id="content">
        <div class="container">
          <div class="crumbs">
            <ul id="breadcrumbs" class="breadcrumb">
              <li>
                <i class="icon-home">
                </i>
                <a href="index.html">
                  后台首页
                </a>
              </li>
            </ul>
          </div>
          <div class="page-header">
            <div class="page-title">
              <h3>
                代理商列表
              </h3>
            </div>
          </div>
          <p class="btn-toolbar btn-toolbar-demo">
            <a href="{:U('add')}" class="btn btn-primary">新增</a>
            <a href="{:U('import')}" class="btn btn-default" onclick="document.all.tt.click();return false;">导入</a>
            <input type="file" name="tt" onchange="return AjaxUpload(this)" data-href="{:U('Agent/import')}" data-input="input-excel" id="import_excel" style="display:none;">
          </p>
          <div class="row">
            <div class="col-md-12">
              <div class="widget box">
                <div class="widget-header">
                  <h4>
                    <i class="icon-reorder">
                    </i>
                  </h4>
                  <div class="toolbar no-padding">
                    <div class="btn-group">
                      <span class="btn btn-xs widget-collapse">
                        <i class="icon-angle-down">
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="widget-content">

                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                          代理商姓名
                        </th>
                        <th>代理级别</th>
                        <th>授权编码</th>

                        <th>代理商手机号</th>
                        <th>代理商身份证号</th>
                        <th>代理商微信号</th>
                        <th>
                          操作
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <volist name="list" id="vo">
                        <tr>
                        <td>
                          {$vo.id}
                        </td>
                        <td>
                          {$vo.name}
                        </td>
                        <td>{$vo.class}</td>
                        <td>{$vo.authorize_code}</td>

                        <td>{$vo.mobile}</td>
                        <td>{$vo.id_card}</td>
                        <td>{$vo.wechat_number}</td>
                        <td>
                          <a href="{:U('edit',array('id'=>$vo['id']))}">编辑</a>
                          <a href="{:U('del',array('id'=>$vo['id']))}" onclick="return AjaxBtn(this)">删除</a>
                        </td>
                      </tr>
                      </volist>
                    </tbody>
                  </table>
                  <include file="Public/page" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include file="Public/script" />
  </body>
</html>