<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>{:C('ADMIN_TITLE')}</title>
  <include file="Public/style" />
</head>
<body>
  <include file="Public/header" />
  <div id="container">
    <include file="Public/menu" />
    <div id="content">
      <div class="container">
        <div class="crumbs">
          <ul id="breadcrumbs" class="breadcrumb">
            <li>
              <i class="icon-home">
              </i>
              <a href="index.html">
                后台首页
              </a>
            </li>
          </ul>
        </div>
        <div class="page-header">
          <div class="page-title">
            <h3>
              设置权限
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="widget box">
              <div class="widget-header">
                <h4>
                  <i class="icon-reorder">
                  </i>
                </h4>
              </div>
              <div class="widget-content">
                <form class="form-horizontal row-border" action="" method="post">
                <div class="form-group">
                  <volist name="node_list" id="node_vo">
                    <div class="col-md-10">
                        <label class="checkbox-inline">
                          <input type="checkbox" class="uniform" value="{$node_vo.id}" onclick="permission(this)" <if condition="in_array($node_vo['id'], $has_node_list)">checked="checked"</if>>
                                {$node_vo.name}
                        </label>
                      </div>
                    <if condition="!empty($node_vo['child_list'])">
                      <div class="col-md-10">
                        <label class="checkbox-inline"></label>
                        <volist name="node_vo.child_list" id="child_vo">
                          <label class="checkbox-inline">
                            <input type="checkbox" class="uniform" value="{$child_vo.id}" onclick="permission(this)" <if condition="in_array($child_vo['id'], $has_node_list)">checked="checked"</if>>
                                  {$child_vo.name}
                          </label>
                        </volist>
                      </div>
                    </if>
                  </volist>
                </div>
                  <input type="hidden" name="group_id" value="{:I('id')}">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <include file="Public/script" />
  <script>
  function permission(dom){
    var node_id = $(dom).val();
    var group_id = $('input[name=group_id]').val();

    if ($(dom).is(':checked')) {

      var url = "{:U('add_permission')}";
    } else {
      var url = "{:U('del_permission')}";
    }

    var data = {'node_id':node_id, "group_id":group_id}

    $.ajax({
      url : url,
      data:data,
      type:'post',
      dataType:'json',

      success:function(i){
        if (i.status == 0) {
          alert(i.info);
        }
      }
    })
  }
  </script>
</body>
</html>